.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 30px;
  }

  .div1 { grid-area: 1 / 1 / 2 / 6;
          background-color: blue;
          font-size: x-large;
  }
  .div2 { grid-area: 2 / 3 / 6 / 6;
          background-color: blueviolet;
          font-size: larger;
  }
  .div3 { grid-area: 2 / 1 / 6 / 3;
          background-color: coral;
          font-size: larger;
  }
